<div>
  <select [value]="activeSearchName" (change)="onSearchNameChange($event.target.value)">
    <option *ngFor="let param of searchParamsList" [value]="param.name">
      {{ param.label }}
    </option>
  </select>

  <ng-container [ngSwitch]="currentType">
    <select *ngSwitchCase="select" [value]="activeSearchValue" (change)="onSearchValueChange($event.target.value)">
      <option *ngFor="let option of currentOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>

    <input *ngSwitchDefault type="text" [placeholder]="currentPlaceholder" [value]="activeSearchValue" (input)="onSearchValueChange($event.target.value)" (keyup.enter)="onSearch()">
  </ng-container>

  <button (click)="onSearch()">Search</button>
</div>
